:root {
  --accent-color: #aaa19a;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --background-team-section: #fff9f9;
  --background-gradient: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  --background-ungradient: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

/* 250ms cubic-bezier(0.4, 0, 0.2, 1) */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.36;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  cursor: pointer;
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
  outline: solid rgb(255, 162, 0) 2px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.container {
  min-width: 320px;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid red 2px;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* =============================================Components========== */
.project {
  /* overflow: hidden; */
}
.uppertitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .uppertitle {
    font-size: 11px;
  }
}
.uppertitle-theme-dark {
  color: var(--primary-text-color-theme-dark);
}
.uppertitle-theme-light {
  color: var(--secondary-text-color-theme-light);
}
.uppertitle-theme-dark::before {
  background-color: var(--primary-text-color-theme-dark);
}
.uppertitle-theme-light::before {
  background-color: var(--secondary-text-color-theme-light);
}
.uppertitle::before {
  content: '';
  width: 40px;
  height: 1px;
  display: block;
  margin-right: 20px;
}
@media screen and (min-width: 480px) {
  .uppertitle::before {
    width: 60px;
  }
}
.media-list::before {
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  background-color: var(--secondary-text-color-theme-light);
}
.modal-btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
  text-align: center;

  background-color: transparent;
  border-radius: 25px;
  border: 2px solid var(--accent-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.modal-btn-theme-dark {
  color: var(--secondary-text-color-theme-light);
}
.modal-btn-theme-light {
  color: var(--secondary-text-color-theme-light);
}
/* ============================================/Components========== */

/* =============================================Header DONE============== */
.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 22px 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 58px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 130px;
  }
}
.header-logo-img {
  fill: var(--secondary-text-color-theme-dark);
}
@media screen and (min-width: 768px) {
  .header-logo-img {
    fill: var(--secondary-text-color-theme-light);
  }
}
.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}
.header-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-list {
    gap: 30px;
  }
}
.header-modal-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-modal-btn {
    display: block;
  }
}
.header-link {
  display: block;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-link.current::after,
.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--accent-color);
}
.header-contact {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);
    margin-right: 43px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
/* ============================================/Header============== */

/* =============================================Hero DONE================ */
@media screen and (max-width: 480.98px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/hero-bg-mobile-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #303030;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/hero-bg-mobile-2x.jpg);
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/hero-bg-tablet-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #303030;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/hero-bg-tablet-2x.jpg);
    }
  }
}
.hero-container {
  display: flex;
}
.hero-left-side {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-left-side {
    display: flex;
    align-items: flex-end;
    width: 117px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-left-side {
    width: 100px;
  }
}
.media-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.media-list-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.hero-media-list {
  transform: rotate(-90deg) translateX(40px) translateY(35px);
  transform-origin: center left;
}
.hero-right-side {
  padding-top: 208px;
  padding-bottom: 209px;
  padding-left: 31px;
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/hero-bg.jpg);
    background-size: cover;
    background-color: #303030;
    flex-grow: 1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-right-side {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/hero-bg-2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-right-side {
    padding-bottom: 208px;
  }
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-right-side {
    padding-bottom: 208px;
  }
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
  }
}
.hero-description {
  max-width: 321px;
  font-size: 10px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (min-width: 480px) {
  .hero-description {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    font-size: 18px;
    max-width: 360px;
  }
}
/* ============================================/Hero================ */

/* =============================================About DONE=============== */

@media screen and (min-width: 768px) {
  .about-left-right {
    display: flex;
    gap: 30px;
  }
}
.about-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    flex-direction: row;
  }
}
.about-item {
  overflow: hidden;
}
.about-item:hover .about-img,
.about-item:focus .about-img {
  transform: scale(1.25);
}
.about-img {
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .about-right-side {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-right-side {
    max-width: 470px;
  }
}
.about-text {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 20px;
  max-width: 306px;
}
@media screen and (min-width: 1200px) {
  .about-text {
    font-size: 42px;
    max-width: 470px;
  }
}
.about-undertitle {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-undertitle {
    font-size: 18px;
  }
}
.about-descr {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about-descr {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about-descr {
    margin-bottom: 42px;
  }
}
/* ============================================/About=============== */

/* =============================================Price DONE============== */
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/price/bg-price.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-text {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .price-text {
    margin-bottom: 44px;
    font-size: 42px;
  }
}
.price-main-list {
  margin-bottom: 44px;
}
@media screen and (max-width: 767.98px) {
  .price-main-list {
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .price-main-list {
    max-width: 690px;
  }
}
@media screen and (max-width: 1199.98px) {
  .price-main-list {
    padding: 30px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .price-main-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .price-main-item {
    width: 570px;
    padding: 30px 20px;
  }
}
.price-item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (min-width: 480px) {
  .price-item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .price-item {
    font-size: 18px;
    line-height: 1.67;
    gap: 12px;
  }
}
.price-item::before {
  content: '';
  flex-grow: 1;

  height: 1px;
  background: var(--primary-text-color-theme-dark);
}
.price-item-service {
  order: -1;
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 1199.98px) {
  .price-left {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-left {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .price-right {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.price-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ============================================/Price============== */

/* =============================================Advantages DONE========== */
.advant {
}
.advant-left-right {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199.98px) {
  .advant-left-right {
    gap: 44px;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .advant-left-right {
    gap: 30px;
  }
}
@media screen and (max-width: 479.98px) {
  .advant-list {
    justify-content: center;
  }
}
.advant-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}
.advant-item {
  width: 193px;
  min-height: 133px;
  padding: 20px 24px;
  background-color: var(--background-team-section);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 479.98px) {
  .advant-item {
    width: 130px;
    padding: 20px 20px;
  }
}
@media screen and (min-width: 768px) {
  .advant-item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .advant-item {
    width: 170px;
  }
}
.advant-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}
.advant-quantity {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
.advant-quantity::after {
  content: '\002B';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.advant-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
@media screen and (min-width: 768px) {
  .advant-left {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .advant-left {
    margin-right: auto;
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .advant-right {
    width: 500px;
  }
}
.advant-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 20px;
}
.advant-undertitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
*/
/* ============================================/Advantages========== */

/* =============================================Team DONE================ */
.team {
  background-color: var(--background-team-section);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-container {
    max-width: 480px;
  }
}
.team-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 44px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
  width: calc((100% - (30px * 0)) / 1);
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - (30px * 2)) / 3);
  }
}
.team-item:hover .overlay,
.team-item:focus .overlay {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.team-item:hover .overlay,
.team-item:focus .overlay {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.team-img {
}
.team-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;

  width: 90%;
  height: 90%;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(81, 96, 110, 0.236);
  backdrop-filter: blur(5px);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color-theme-dark);
}
@media screen and (max-width: 479.98px) {
  .overlay-text {
    font-size: 14px;
    line-height: 1.67;
  }
}
.team-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 8px;
}
.team-card-wrapper {
  padding: 30px 15px;
}
.team-subtext {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.team-socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.socials-list {
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color-theme-dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: var(--accent-color);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--secondary-text-color-theme-light);
}
.social-icon {
  fill: var(--secondary-text-color-theme-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============================================/Team================ */

/* =============================================Gallery DONE============ */
.gallery {
}
.uppertitle-more {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .uppertitle-more {
    margin-bottom: 44px;
  }
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-items {
    width: calc((100% - 90px) / 4);
  }
}
/* ============================================/Gallery============ */

/* =============================================Online-booking====== */

.booking {
  max-width: 100%;
}
.booking-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
.booking-contacts {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/contacts/contacts-bg.png);
  background-color: #191c26;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left calc(50% + 406px);
}
@media screen and (min-width: 1200px) {
  .booking-contacts .container {
    display: flex;
    gap: 30px;
  }
}
.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .booking-form {
    width: 570px;
  }
}
.booking-form-label {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .booking-form-label {
    width: 270px;
  }
}
.form-field {
  width: 100%;
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .form-field {
    gap: 30px;
    flex-wrap: nowrap;
  }
}
.booking-desc {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking-form-input {
  width: 100%;
  height: 24px;
  padding: 4px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color-theme-dark);
  margin: 0;
  color: var(--primary-text-color-theme-dark);
}
.booking-form-input:focus + .booking-desc {
  transform: translateY(-30px);
}
.booking-form-input:focus,
.booking-comment:focus {
  outline: none;
  border-bottom-color: var(--secondary-text-color-theme-dark);
}
.booking-form-input::placeholder,
.booking-comment::placeholder {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.booking-comment:focus::placeholder {
  color: var(--secondary-text-color-theme-dark);
}
.booking-comment {
  width: 100%;
  height: 76px;
  padding: 4px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color-theme-dark);
  resize: none;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (max-width: 767.98px) {
  .booking-modal-btn {
    margin-right: auto;
    margin-left: auto;
  }
}
/* .booking {
  width: 570px;
}
.booking-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
.booking-input {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking-input:hover,
.booking-input:focus {
  color: var(--secondary-text-color-theme-dark);
}
.booking-contacts {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/contacts/contacts-bg.png);
  background-color: #191c26;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left calc(50% + 421px);
}
.booking-contacts .container {
  display: flex;
  gap: 30px;
}
.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  width: 570px;
  padding: 0;
}
.form-field {
  display: flex;
  gap: 30px;
}
.booking-form-label {
  position: relative;
  width: 270px;
}
.booking-desc {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking-form-input {
  width: 100%;
  height: 24px;
  padding: 4px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color-theme-dark);
  margin: 0;
  color: var(--primary-text-color-theme-dark);
}
.booking-form-input:focus + .booking-desc{
transform: translateY(-30px);
}
.booking-form-input:focus,
.booking-comment:focus {
  outline: none;
  border-bottom-color: var(--secondary-text-color-theme-dark);
}
.booking-form-input::placeholder,
.booking-comment::placeholder {
font-weight: 600;
font-size: 11px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--primary-text-color-theme-dark);
}
.booking-comment:focus::placeholder {
  color: var(--secondary-text-color-theme-dark);
}
.booking-comment {
  width: 100%;
  height: 76px;
  padding: 4px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color-theme-dark);
  resize: none;
  color: var(--primary-text-color-theme-dark);
} */
/* ============================================/Online-booking====== */

/* =============================================Contacts============ */
.contacts {
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 570px;
    padding-left: 100px;
  }
}
.contacts.section {
  padding-bottom: 110px;
}
.contacts-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
@media screen and (max-width: 767.98px) {
  .contacts-title {
    padding-left: 100px;
  }
}
.contacts-address {
}
@media screen and (max-width: 767.98px) {
  .contacts-list {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 70px;
  }
}
.contacts-item {
  font-style: normal;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contacts-mail {
  text-decoration-skip-ink: none;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contacts-icon {
  align-content: center;
}
/* .contacts {
  width: 570px;
  padding-left: 100px;
}
.contacts.section {
  padding-bottom: 110px;
}
.contacts-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
.contacts-address {
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts-item {
  font-style: normal;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contacts-mail {
  text-decoration-skip-ink: none;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contacts-icon {
  align-content: center;
} */
/* ============================================/Contacts============ */

/* =============================================Footer DONE============== */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-flex {
  display: flex;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (max-width: 767.98px) {
  .footer-media {
    display: none;
  }
}
.footer-media {
  margin-left: auto;
}
*/
/* ============================================/Footer============== */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 57, 0.585);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(6px);
}  
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 400ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  opacity: 1;
  width: 500px;
  min-height: 500px;
  padding: 40px;
  background-color: #ffffff;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, 
  opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
  opacity: 0;
}
.btn-modal-close-test {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-text-color-theme-light);
  border-radius: 50%;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close-test:hover, 
.btn-modal-close-test:focus {
  border-color: var(--accent-color);
}
.modal-close-svg {
  fill: var(--primary-text-color-theme-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close-test:hover .modal-close-svg, 
.btn-modal-close-test:focus .modal-close-svg {
  fill: var(--accent-color);
} */
/* ===================================Modal form==================== */
/* .form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 15px;
}
.modal-form-inp-desc {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--secondary-text-color-theme-light);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-text-color-theme-light);
  border-radius: 5px;
  padding-left: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--secondary-text-color-theme-light);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus, 
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  background-color: var(--accent-color);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--primary-text-color-theme-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid var(--primary-text-color-theme-light);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--secondary-text-color-theme-light);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid var(--secondary-text-color-theme-light);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.modal-input-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
}
.modal-input-check:focus + .modal-form-check-desc::before {
  border: 2px solid #355c7d;
} */
/* =============================================Mobile menu===== === */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-text-color-theme-dark);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* xnview - для конвертації*/
